<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <!-- 5 minute timeout, 5 retries -->
    <add key="http_timeout" value="300" />
    <add key="maxHttpRequestsPerSource" value="16" />
  </config>
</configuration>
